body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

h1 {
    text-align: center;
    margin-top: 30px;
    color: #4B0082;
}

form {
    width: 100%;
    max-width: 500px;
    margin: 0 auto;
    background-color: white;
    padding: 30px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    margin-bottom: 30px;
}

form label {
    display: block;
    margin-bottom: 10px;
    color: #4B0082;
}

form input[type="text"], form input[type="number"], form input[type="file"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 20px;
}

form button[type="submit"] {
    display: block;
    width: 100%;
    background-color: #4B0082;
    border: none;
    color: white;
    font-weight: bold;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.4s;
}

form button[type="submit"]:hover {
    background-color: #9400D3;
}
